Instituto Infnet

Disciplina Análise de dados com Spark

Aluno: Victor Luiz de Oliveira e Silva

In [1]:
!pip install pyspark
import pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
## Você só vai precisar dessa parte se fizer no Google Colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Importando bibliotecas necessárias
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, desc , col, max, when, isnan, min, avg
spark = SparkSession.builder.appName("Exercicio").master('local[*]').getOrCreate()

In [4]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer, OneHotEncoder, StandardScaler, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

Este problema que iremos prover uma solução é sobre empregados que podem ou não pedir demissão de uma empresa de TI. Os dados coletados trazem informação de Nível de Educação do funcionário, ano que entrou na empresa, cidade que mora, nível de pagamento, idade, sexo, se já ficou no banco da empresa, anos de experiencia e a se saiu ou não da empresa (label).

In [5]:
#Carga dos dados
df = spark.read.csv(path='drive/MyDrive/Arquivos/Employee.csv',header=True,inferSchema=True,sep = ',')

In [6]:
#Verificação dos dados
df.show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
|Bachelors|       2017|Bangalore|          3| 34|  Male|         No|                        0|         0|
|Bachelors|       2013|     Pune|          1| 28|Female|         No|                        3|         1|
|Bachelors|       2014|New Delhi|          3| 38|Female|         No|                        2|         0|
|  Masters|       2016|Bangalore|          3| 27|  Male|         No|                        5|         1|
|  Masters|       2017|     Pune|          3| 24|  Male|        Yes|                        2|         1|
|Bachelors|       2016|Bangalore|          3| 22|  Male|         No|                        0|         0|
|Bachelors|       2015|New Delhi|          3| 38|  Male|         No|                        0|         0|
|Bachelors|       2016|Bangalore|          3| 34|Female|         No|                        2|         1|
|Bachelors|       2016|     Pune|          3| 23|  Male|         No|                        1|         0|
|  Masters|       2017|New Delhi|          2| 37|  Male|         No|                        2|         0|
|  Masters|       2012|Bangalore|          3| 27|  Male|         No|                        5|         1|
|Bachelors|       2016|     Pune|          3| 34|  Male|         No|                        3|         0|
|Bachelors|       2018|     Pune|          3| 32|  Male|        Yes|                        5|         1|
|Bachelors|       2016|Bangalore|          3| 39|  Male|         No|                        2|         0|
|Bachelors|       2012|Bangalore|          3| 37|  Male|         No|                        4|         0|
|Bachelors|       2017|Bangalore|          1| 29|  Male|         No|                        3|         0|
|Bachelors|       2014|Bangalore|          3| 34|Female|         No|                        2|         0|
|Bachelors|       2014|     Pune|          3| 34|  Male|         No|                        4|         0|
|Bachelors|       2015|     Pune|          2| 30|Female|         No|                        0|         1|
|Bachelors|       2016|New Delhi|          2| 22|Female|         No|                        0|         1|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- Education: string (nullable = true)
 |-- JoiningYear: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentTier: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- EverBenched: string (nullable = true)
 |-- ExperienceInCurrentDomain: integer (nullable = true)
 |-- LeaveOrNot: integer (nullable = true)

In [8]:
#Transformação de atributos categóricos  em uma única coluna
GenderIndex = StringIndexer(inputCols=["Gender"], outputCols=["gender_vec"])
EverBenchedIndex = StringIndexer(inputCols=["EverBenched"], outputCols=["everbenched_vec"])
CityIndexer = StringIndexer(inputCols=["City"],outputCols=["city_vec"])
EducationIndexer = StringIndexer(inputCols=["Education"],outputCols=["education_vec"])
LabelIndexer =  StringIndexer(inputCol="LeaveOrNot", outputCol="indexedLabel")
feat_cols = ["city_vec","JoiningYear","PaymentTier","everbenched_vec","Age","education_vec","ExperienceInCurrentDomain","gender_vec"]
#Montando o vetor de features
assembler = VectorAssembler(inputCols=feat_cols,outputCol="features")

In [9]:
#Divisão dos dados em treino e teste para aplicação do modelo
(trainingData, testData) = df.randomSplit([0.7, 0.3])
print(trainingData.count(), testData.count())

3220 1433

In [10]:
#Iremos utilizar o classificador Random Forest para fazer as classificações
rf = RandomForestClassifier(labelCol="indexedLabel", featuresCol="features", numTrees=20)

In [11]:
#Montando o vetor de features
pipeline = Pipeline(stages=[GenderIndex,EverBenchedIndex,CityIndexer,EducationIndexer,LabelIndexer,assembler, rf])

In [12]:
#Executando o fit do pipeline nos dados de treino
model = pipeline.fit(trainingData)

In [13]:
predictions = model.transform(testData)
predictions.show()

+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+----------+---------------+--------+-------------+------------+--------------------+--------------------+--------------------+----------+
|Education|JoiningYear|     City|PaymentTier|Age|Gender|EverBenched|ExperienceInCurrentDomain|LeaveOrNot|gender_vec|everbenched_vec|city_vec|education_vec|indexedLabel|            features|       rawPrediction|         probability|prediction|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+----------+---------------+--------+-------------+------------+--------------------+--------------------+--------------------+----------+
|Bachelors|       2012|Bangalore|          1| 27|  Male|         No|                        5|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[14.0198068030814...|[0.70099034015407...|       0.0|
|Bachelors|       2012|Bangalore|          1| 28|Female|         No|                        3|         0|       1.0|            0.0|     0.0|          0.0|         0.0|[0.0,2012.0,1.0,0...|[9.15057871781039...|[0.45752893589051...|       1.0|
|Bachelors|       2012|Bangalore|          1| 28|Female|        Yes|                        1|         0|       1.0|            1.0|     0.0|          0.0|         0.0|[0.0,2012.0,1.0,1...|[9.13030187591837...|[0.45651509379591...|       1.0|
|Bachelors|       2012|Bangalore|          1| 28|  Male|         No|                        3|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[12.1460032550361...|[0.60730016275180...|       0.0|
|Bachelors|       2012|Bangalore|          1| 34|  Male|         No|                        0|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4],[2012....|[13.1987020201708...|[0.65993510100854...|       0.0|
|Bachelors|       2012|Bangalore|          1| 35|  Male|         No|                        7|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[15.7541668824851...|[0.78770834412425...|       0.0|
|Bachelors|       2012|Bangalore|          3| 22|  Male|         No|                        0|         1|       0.0|            0.0|     0.0|          0.0|         1.0|(8,[1,2,4],[2012....|[16.7708049913241...|[0.83854024956620...|       0.0|
|Bachelors|       2012|Bangalore|          3| 23|Female|         No|                        1|         1|       1.0|            0.0|     0.0|          0.0|         1.0|[0.0,2012.0,3.0,0...|[15.3261859427056...|[0.76630929713528...|       0.0|
|Bachelors|       2012|Bangalore|          3| 23|  Male|         No|                        1|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7708049913241...|[0.83854024956620...|       0.0|
|Bachelors|       2012|Bangalore|          3| 24|  Male|         No|                        2|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7708049913241...|[0.83854024956620...|       0.0|
|Bachelors|       2012|Bangalore|          3| 24|  Male|         No|                        2|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7708049913241...|[0.83854024956620...|       0.0|
|Bachelors|       2012|Bangalore|          3| 24|  Male|         No|                        2|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7708049913241...|[0.83854024956620...|       0.0|
|Bachelors|       2012|Bangalore|          3| 25|Female|         No|                        3|         0|       1.0|            0.0|     0.0|          0.0|         0.0|[0.0,2012.0,3.0,0...|[15.8838018367453...|[0.79419009183726...|       0.0|
|Bachelors|       2012|Bangalore|          3| 25|Female|         No|                        3|         1|       1.0|            0.0|     0.0|          0.0|         1.0|[0.0,2012.0,3.0,0...|[15.8838018367453...|[0.79419009183726...|       0.0|
|Bachelors|       2012|Bangalore|          3| 25|Female|        Yes|                        3|         0|       1.0|            1.0|     0.0|          0.0|         0.0|[0.0,2012.0,3.0,1...|[14.7680696181286...|[0.73840348090643...|       0.0|
|Bachelors|       2012|Bangalore|          3| 25|  Male|         No|                        3|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7460679441874...|[0.83730339720937...|       0.0|
|Bachelors|       2012|Bangalore|          3| 25|  Male|         No|                        3|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7460679441874...|[0.83730339720937...|       0.0|
|Bachelors|       2012|Bangalore|          3| 25|  Male|         No|                        3|         0|       0.0|            0.0|     0.0|          0.0|         0.0|(8,[1,2,4,6],[201...|[16.7460679441874...|[0.83730339720937...|       0.0|
|Bachelors|       2012|Bangalore|          3| 26|Female|         No|                        4|         0|       1.0|            0.0|     0.0|          0.0|         0.0|[0.0,2012.0,3.0,0...|[15.8838018367453...|[0.79419009183726...|       0.0|
|Bachelors|       2012|Bangalore|          3| 26|Female|         No|                        4|         0|       1.0|            0.0|     0.0|          0.0|         0.0|[0.0,2012.0,3.0,0...|[15.8838018367453...|[0.79419009183726...|       0.0|
+---------+-----------+---------+-----------+---+------+-----------+-------------------------+----------+----------+---------------+--------+-------------+------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [14]:
predictions.select("prediction", "IndexedLabel", "features").show(20)

+----------+------------+--------------------+
|prediction|IndexedLabel|            features|
+----------+------------+--------------------+
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       1.0|         0.0|[0.0,2012.0,1.0,0...|
|       1.0|         0.0|[0.0,2012.0,1.0,1...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|(8,[1,2,4],[2012....|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         1.0|(8,[1,2,4],[2012....|
|       0.0|         1.0|[0.0,2012.0,3.0,0...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|[0.0,2012.0,3.0,0...|
|       0.0|         1.0|[0.0,2012.0,3.0,0...|
|       0.0|         0.0|[0.0,2012.0,3.0,1...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|(8,[1,2,4,6],[201...|
|       0.0|         0.0|[0.0,2012.0,3.0,0...|
|       0.0|         0.0|[0.0,2012.0,3.0,0...|
+----------+------------+--------------------+
only showing top 20 rows

In [15]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Select (prediction, true label) and compute test error
evaluator = MulticlassClassificationEvaluator(
    labelCol="indexedLabel", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test Error = %g" % (1.0 - accuracy))

rfModel = model.stages[2]
print(rfModel)  # summary only

Test Error = 0.183531
StringIndexerModel: uid=StringIndexer_c54363bf1b84, handleInvalid=error, numInputCols=1, numOutputCols=1